@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --page-background: hsl(212, 45%, 89%);
    --paragraph-font: 400 .9375rem/1.4 "Outfit", sans-serif;
    --strong-font: 700 1.375rem/1.2 "Outfit", sans-serif;
    --card-brd-radius: 1.25rem;
    --img-brd-radius: .625rem;
    --card-padding: 1rem 1rem 2.5rem 1rem;
    --card-background: #fff;
    --img-margin: 1.5rem;

    background-color: var(--page-background);
}

.content {
    /* need to mention in MD retrospective that i did not get it center right away */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    padding: var(--card-padding);
    background-color: var(--card-background);
    border-radius: var(--card-brd-radius);
    font: var(--paragraph-font);
    box-shadow: 0 1.5625rem 1.5625rem 0 rgb(0 0 0 / 4.77%);
}

.paragraphs {
    padding: 0 1rem;
    text-align: center;
    letter-spacing: .0125rem;
    max-width: 18rem;
}

.strong {
    font: var(--strong-font);
    letter-spacing: 0;
    vertical-align: top;
    margin-bottom: 1rem;
    color: #1f314f;
}

p {
    margin: 0;
    color: #68778d;
}

img {
    width: 18rem;
    height: 18rem;
    border-radius: var(--img-brd-radius);
    margin-bottom: var(--img-margin);
}

.attribution {
    text-align: center;
    font: var(--paragraph-font);
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: all .15s linear;
    color: #0087cc;

    &:hover {
        color: #ff7b29;
    }
}